<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Infraestructura en la Nube
  </h5>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Infraestructura en la Nube</h5>
          <div class="card-body">
            <h5 class="card-title">Migración a la Nube</h5>
            <p class="card-text">Ayudamos en la transición de sistemas locales a soluciones basadas en la nube, garantizando una migración sin problemas y minimizando el tiempo de inactividad. Evaluamos tus necesidades y seleccionamos la plataforma en la nube más adecuada, gestionando todo el proceso de migración de manera segura y eficiente. </p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Infraestructura en la Nube</h5>
          <div class="card-body">
            <h5 class="card-title">Gestión de la Nube</h5>
            <p class="card-text"> Ofrecemos servicios de gestión y optimización de entornos en la nube para maximizar el rendimiento, la seguridad y el costo-beneficio. Desde la configuración inicial hasta la monitorización continua y la optimización de recursos, nuestros expertos se aseguran de que tu infraestructura en la nube funcione de manera óptima.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Infraestructura en la Nube</h5>
          <div class="card-body">
            <h5 class="card-title">Servicios de Nube Híbrida</h5>
            <p class="card-text"> Implementamos soluciones híbridas que combinan nubes públicas y privadas, proporcionando flexibilidad y escalabilidad. Nuestras soluciones híbridas te permiten aprovechar las ventajas de ambas modalidades, optimizando la utilización de recursos y mejorando la resiliencia de tus sistemas.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Infraestructura en la Nube</h5>
          <div class="card-body">
            <h5 class="card-title">Seguridad en la Nube</h5>
            <p class="card-text">Proveemos soluciones de seguridad avanzadas para proteger datos y aplicaciones en la nube. Desde la implementación de medidas de seguridad proactivas hasta la gestión de amenazas y la conformidad con normativas, garantizamos que tus activos digitales estén protegidos contra ataques y brechas de seguridad.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

</footer>