<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Inteligencia Artificial
  </h5>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Inteligencia Artificial</h5>
          <div class="card-body">
            <h5 class="card-title">Desarrollo de Modelos de IA</h5>
            <p class="card-text">Creamos soluciones basadas en IA para mejorar la eficiencia y la toma de decisiones en tu negocio. Nuestros expertos en IA desarrollan modelos personalizados que pueden aplicarse a diversas áreas, desde la automatización de procesos hasta la mejora de la atención al cliente.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Inteligencia Artificial</h5>
          <div class="card-body">
            <h5 class="card-title">Asistentes Virtuales</h5>
            <p class="card-text"> Desarrollamos chatbots y asistentes virtuales que mejoran la interacción con los clientes y optimizan el servicio al cliente. Utilizando tecnologías de procesamiento de lenguaje natural y aprendizaje automático, nuestros asistentes virtuales pueden gestionar consultas, proporcionar información y resolver problemas de manera efectiva.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Inteligencia Artificial</h5>
          <div class="card-body">
            <h5 class="card-title">Análisis de Sentimiento</h5>
            <p class="card-text"> Utilizamos IA para analizar opiniones y sentimientos en redes sociales y otras plataformas, proporcionando insights valiosos sobre la percepción de tu marca. Nuestros modelos de análisis de sentimiento te ayudan a entender mejor a tus clientes y ajustar tus estrategias de marketing y comunicación.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Inteligencia Artificial</h5>
          <div class="card-body">
            <h5 class="card-title">Automatización Inteligente</h5>
            <p class="card-text">Implementamos soluciones de automatización que utilizan IA para mejorar procesos de negocio complejos. Desde la optimización de la cadena de suministro hasta la personalización de la experiencia del cliente, nuestras soluciones de automatización inteligente impulsan la eficiencia y la innovación.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  


<footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

</footer>