

<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Servicios de aplicaciones
  </h5>
</div>

<!--Cartas de servicios -->
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Servicios de Aplicaciones</h5>
          <div class="card-body">
            <h5 class="card-title">Desarrollo de Software a Medida</h5>
            <p class="card-text">Diseñamos y desarrollamos soluciones de software personalizadas que se adaptan a las necesidades específicas de tu negocio. Nuestro equipo de expertos trabaja contigo para entender tus requisitos y crear aplicaciones robustas, escalables y seguras que mejoren tus operaciones y proporcionen una ventaja competitiva.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Servicios de Aplicaciones</h5>
          <div class="card-body">
            <h5 class="card-title">Integración de Sistemas</h5>
            <p class="card-text">Facilitamos la comunicación y operabilidad entre distintas aplicaciones y plataformas, asegurando que tus sistemas actuales funcionen en armonía. Nuestra experiencia en integración de sistemas permite una transferencia de datos fluida, optimizando procesos y eliminando redundancias.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Servicios de Aplicaciones</h5>
          <div class="card-body">
            <h5 class="card-title">Mantenimiento y Soporte de Aplicaciones</h5>
            <p class="card-text">Proporcionamos soporte continuo y servicios de mantenimiento para asegurar el rendimiento óptimo de tus aplicaciones. Nuestro equipo monitoriza, actualiza y resuelve cualquier problema técnico, garantizando que tus aplicaciones se mantengan actualizadas y funcionen sin interrupciones.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Servicios de Aplicaciones</h5>
          <div class="card-body">
            <h5 class="card-title">Desarrollo de Aplicaciones Móviles</h5>
            <p class="card-text">Diseñamos y desarrollamos aplicaciones móviles innovadoras para iOS y Android que ofrecen experiencias de usuario excepcionales. Desde la conceptualización hasta el lanzamiento, nuestro enfoque integral garantiza que las aplicaciones móviles sean intuitivas, funcionales y alineadas con tus objetivos de negocio.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

</footer>