<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Servicios</h5>
</div>


<!--Primer cojunto de cartas --> 
  <div class="col-md-9 mx-auto mt-5">
    <div class="swiper mySwiper3">
      <div class="swiper-wrapper">

    <!--Carta Servicio de aplicaciones-->
        <div class="swiper-slide">
          <div class="card ">
            <img
              src="/assets/imagenes/aplicacionesWed.jpg"
              alt="...">
            <div class="card-body">
              <p class="texto10 ms-4 mt-3">SERVICIOS DE APLICACIONES</p>

              <div style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

              <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Soluciones
                digitales a medida para potenciar tu negocio en línea.</p>
                <button [routerLink]="['/aplicacione']"  class="botoncontacto">Mas Informacion --></button>
                
              </div>

              
            </div>
          </div>
    <!--Carta Servicio de aplicaciones--> 
    
    <!--Carta Automatizacion-->
          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/Wedatomatizacion.png"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">AUTOMATIZACION

                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                  <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Tecnología para hacer tareas automáticamente, reduciendo errores y mejorando la eficiencia.</p>
                  <button [routerLink]="['/automatizacion']"  class="botoncontacto">Mas Informacion --></button>
                </div>
            </div>
          </div>
      <!--Carta Automarizacion-->

      <!--Consultoria de negocios y tecnologia-->
          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/negocios.jpg"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">CONSULTORIA DE NEGOCIO

                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Consejos para mejorar empresas en estrategias, recursos y decisiones clave.</p>
            
                <button [routerLink]="['/consultoria']"  class="botoncontacto">Mas Informacion --></button>  </div>
            </div>
          </div>
      <!--Consultoria de negocios y tecnologia-->

<!--Carta Infraestructura en la nube-->

          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/nubes.jpg"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">INFRAESTRUCTURA EN LA NUBE

                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">La infraestructura en la nube ofrece servicios de TI en línea para empresas.</p>
                <button [routerLink]="['/nube']"  class="botoncontacto">Mas Informacion --></button>
              </div>
            </div>
         </div>
 <!--Carta Infraestructira en la nube--> 
        </div>

      </div>
    </div>
 

 <!--Segundo cojunto de cartas --> 
    <div class="col-md-9 mx-auto mt-5">
      <div class="swiper mySwiper3">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/seguridad.jpg"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">CIBERSEGURIDAD
                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Protege sistemas y datos contra ataques y amenazas en línea de tu empresa</p>
                <button [routerLink]="['/ciberseguridad']"  class="botoncontacto">Mas Informacion --></button>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/analisis.png"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">DATOS Y ANALITICAS
                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Transformamos datos complejos en conocimiento útil para tu negocio.</p>
                <button [routerLink]="['/datos']"  class="botoncontacto">Mas Informacion --></button>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/inteligencia_artificial.jpg"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">INTELIGENCIA ARTIFICIAL
                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">Potenciamos tu empresa con IA. Transforma datos en decisiones estratégicas.</p>
                <button [routerLink]="['/inteligencia']"  class="botoncontacto">Mas Informacion --></button>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card ">
              <img
                src="/assets/imagenes/soporte.jpg"
                alt="...">
              <div class="card-body">
                <p class="texto10 ms-4 mt-3">SOPORTE TECNICO Y MANTENIMIENTO
                <div
                  style="border-bottom: 1px solid #ccc; margin: 1rem 0;"></div>

                <p class="card-text text-left texto9 ms-4 mt-3 mb-4">
                  Brindamos soporte y mantenimiento técnico para tu empresa.</p>
                  <button [routerLink]="['/soporte']"  class="botoncontacto">Mas Informacion --></button>
                </div>
            </div>
          </div>

        </div>

      </div>
    </div>




  <footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

  </footer>