<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Ciberseguridad
  </h5>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Ciberseguridad</h5>
          <div class="card-body">
            <h5 class="card-title">Evaluación de Vulnerabilidades</h5>
            <p class="card-text">Realizamos análisis exhaustivos para identificar y corregir vulnerabilidades en tus sistemas. Utilizamos herramientas avanzadas y metodologías probadas para detectar puntos débiles, proporcionando recomendaciones detalladas para fortalecer tu seguridad.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4">
        <div class="card">
          <h5 class="card-header">Ciberseguridad</h5>
          <div class="card-body">
            <h5 class="card-title">Monitoreo de Seguridad</h5>
            <p class="card-text">  Proveemos monitoreo continuo para detectar y responder a amenazas en tiempo real. Nuestros sistemas de detección de intrusiones y análisis de comportamiento permiten una respuesta rápida y efectiva ante incidentes de seguridad, minimizando el impacto en tu negocio.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Ciberseguridad</h5>
          <div class="card-body">
            <h5 class="card-title">Protección de Datos</h5>
            <p class="card-text">Implementamos estrategias y tecnologías para proteger los datos sensibles de tu empresa. Desde el cifrado de datos hasta la gestión de accesos y la implementación de políticas de privacidad, nuestras soluciones aseguran que tu información esté protegida contra pérdidas y accesos no autorizados.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 mt-4">
        <div class="card">
          <h5 class="card-header">Ciberseguridad</h5>
          <div class="card-body">
            <h5 class="card-title">Concientización en Seguridad</h5>
            <p class="card-text">Ofrecemos programas de capacitación para empleados sobre buenas prácticas en ciberseguridad. Nuestros cursos y talleres están diseñados para educar a tu equipo sobre las amenazas actuales y cómo mitigarlas, promoviendo una cultura de seguridad dentro de tu organización.</p>
            <button [routerLink]="['/contactos']"  class="botoncontacto">Contactanos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

</footer>