
<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 50px; font-family:roboto; font-weight: bold;">Nosotros</h5>
</div>

<div class="container">
    
    <div class="card mb-3" style="width: 100%; border: 0;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="/assets/imagenes/nosotros.jpg"
              class="img-fluid rounded-start" style="border-radius: 40px;"
              alt="...">
          </div>
          <div class="col-md-6 ">
            <div class="card-body"> <br><br>
              <p class="card-text ms-4">Acerca de nosotros</p>
              <h5 class="card-title ms-4 "
                style="font-size: 30px; color: rgb(45, 135, 199);">Empresa innovadora que ofrece <br> soluciones tecnológicas de <br> vanguardia
            </h5>
              <p class="card-text mb-5 ms-4">En LP TECHNOLOGY , somos un equipo apasionado por la tecnología y comprometidos con ayudar a las empresas a alcanzar sus objetivos mediante soluciones innovadoras y personalizadas.</p>
            </div>
          </div>
        </div>
      </div>
</div>

<div
  style="text-align: center; margin-top: 30px; margin-top: 60px; margin-bottom: 60px;"
  class="servicios">
  <h5
    style="font-size: 37px; font-family:roboto; font-weight: bold;">Por qué elegirnos</h5>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card cartas ms-5 me-4 ">
           
            <div class="card-body text-center">
              <h5 class="card-title">Soluciones personalizadas</h5>
              <p class="card-text">Le ofrecemos soluciones personalizadas que se adaptan a sus necesidades específicas y presupuesto.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cartas ms-5 me-4 ">
           
            <div class="card-body text-center">
              <h5 class="card-title">Tecnología de vanguardia</h5>
              <p class="card-text">Utilizamos las últimas tecnologías para ofrecer soluciones innovadoras y eficientes para su empresa.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card cartas ms-5  me-4">
             
                <div class="card-body text-center ">
                  <h5 class="card-title">Equipo experto</h5>
                  <p class="card-text">Contamos con un equipo altamente calificado de profesionales con amplia experiencia en tecnologia</p>
                </div>
              </div>
        </div>


        <div class="col nosotros" >
          <div class="card cartas ms-5  me-4">
             
            <div class="card-body text-center ">
              <h5 class="card-title">Compromiso con el éxito</h5>
              <p class="card-text">Estamos comprometidos con el éxito de nuestros clientes y trabajamos en estrecha colaboración para alcanzar sus objetivos.</p>
            </div>
          </div>
          </div>




          <div class="col ">
            <div class="card cartas ms-5  me-4">
             
              <div class="card-body text-center ">
                <h5 class="card-title">Servicio excepcional</h5>
                <p class="card-text">Nos esforzamos por ofrecer un servicio excepcional a nuestros clientes, superando siempre sus expectativas.</p>
              </div>
            </div>
          </div>



</div>
</div>

<footer style="background-color: rgb(0, 35, 75)">
    <div class="container mt-5 d-flex justify-content-center align-items-center">
      <img
        src="/assets/imagenes/logo technology png.png"
        alt class="mt-5 footerlogo">
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-geo-alt h2 text-white"></i>
          <p class="mt-4 fw-bold"> Localizacion</p>
          <p class="mt-3"> 1st Floor New World Tower Rang. </p>
        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-envelope h2 text-white"></i>
          <p class="mt-4 fw-bold ">Direccion de Correo </p>
          <p class="mt-3">demo@example.com</p>

        </div>
        <div class="col-md-4 text-center text-white mt-3">
          <i class="bi bi-phone h2 text-white"></i>
          <p class="mt-4 fw-bold text-white">Numero de Contacto</p>
          <p class="mt-3"> +848 556 778 345 </p>
        </div>
      </div>

      <div class="container text-center text-white">

        <div class="row">
          <div class="col-md-8 mx-auto">
            <p class="mt-5 d-md-flex justify-content-center ">
              <a [routerLink]="['/home']" class="me-4">Home</a>
              <a [routerLink]="['/servicios']" class="me-4">Servicios</a>
              <span class="me-4">Nosotros</span>
              <span class="d-none d-md-inline me-4">Perpestivas</span>
              <a [routerLink]="['/contactos']" class="d-none d-md-inline">Contactanos</a>
            </p>

          </div>
          <p class="mt-4">Nuestras redes Sociales</p>

          <div
            class="d-flex justify-content-center  align-items-center mt-4 mb-4">
            <i class="bi bi-facebook h3 me-5"></i>
            <i class="bi bi-twitter h3 me-5"></i>
            <i class="bi bi-youtube h3 me-5 "></i>
            <i class="bi bi-globe h3"></i>
          </div>

        </div>

      </div>
    </div>

</footer>